/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CODE STARTS HERE */

@font-face {
    font-family: InterBold;
    src: url(./assets/fonts/static/Inter-Bold.ttf);
}

@font-face {
    font-family: InterRegular;
    src: url(./assets/fonts/static/Inter-Regular.ttf);
}

@font-face {
    font-family: InterSemiBold;
    src: url(./assets/fonts/static/Inter-SemiBold.ttf);
}

@font-face {
    font-family: Inter;
    src: url(./assets/fonts/Inter-VariableFont_slnt,wght.ttf);
}

/*  */

body {
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}

section {
    width: 80%;
    height: 100vh;
    background-color: rgb(22, 22, 22);
}

.card {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 375px;
    height: 65%;
    margin: auto;
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 13px;
}

.card img {
    margin: 10%;
    border-radius: 100px;
    width: 25%;
}

.name {
    color: white;
    font-size: 1.5em;
    font-family: InterSemiBold;
    padding-bottom: 10px;
}

.place {
    color: rgb(192, 241, 113);
    font-family: InterBold;
    font-size: 0.9em;
    padding-bottom: 30px;
}

.desc {
    color: white;
    font-family: Inter;
    font-size: 0.85em;
    padding-bottom: 20px;
}

.link {
    box-sizing: border-box;
    color: white;
    width: 80%;
    text-align: center;
    padding: 4.5% 0%;
    border-radius: 7px;
    background-color: rgb(71, 71, 71, 0.5);
    margin: 8px 0;
    font-family: InterBold;
    font-size: 0.9em;
    font-weight: 500;
}