/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CODE STARTS HERE */

@font-face {
    font-family: FigTree;
    src: url(/home/avantika/Desktop/Code/frontend-mentor/blog-preview-card-main/assets/fonts/Figtree-VariableFont_wght.ttf);
}

@font-face {
    font-family: FigTreeItalic;
    src: url(/home/avantika/Desktop/Code/frontend-mentor/blog-preview-card-main/assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: FigTreeExtraBold;
    src: url(/home/avantika/Desktop/Code/frontend-mentor/blog-preview-card-main/assets/fonts/static/Figtree-ExtraBold.ttf);
}

@font-face {
    font-family: FigTreeSemiBold;
    src: url(/home/avantika/Desktop/Code/frontend-mentor/blog-preview-card-main/assets/fonts/static/Figtree-SemiBold.ttf);
}

body {
    background-color: #f0ca4f;
}

.card {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    height: 57%;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 0 2px black;
}

.image {
    height: 40%;
    margin: 7% auto 0;
    width: 86%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 7%;
}

.tag {
    background-color: #f0ca4f;
    padding: 9px 18px;
    border-radius: 4px;
    font-family: FigTreeExtraBold;
}

.date {
    font-family: FigTree;
    font-weight: 500;
    font-size: 0.9em;
}

.header {
    font-family: FigTreeExtraBold;
    font-weight: 700;
    font-size: 1.67em;
}

.text {
    font-family: FigTree;
    font-weight: 500;
    color: rgb(95, 95, 95);
    line-height: 1.5em;
}

.name {
    font-family: FigTreeExtraBold;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    align-content: baseline;
    justify-content: center;
}

.name img {
    width: 2em;
}

.name span {
    padding: 10px 13px;
}

.image img {
    border-radius: 12px;
}